CH/*.txt text working-tree-encoding=utf-8 encoding=utf-8,
CN/*.txt text working-tree-encoding=utf-8 encoding=utf-8,
EN/*.txt text working-tree-encoding=utf-8 encoding=utf-8,
ES/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
FR/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
KO/*.txt text working-tree-encoding=utf-16 encoding=utf-8,
PTBR/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
RU/*.txt text working-tree-encoding=cp1251 encoding=utf-8,

_TVRADIO_TRANSLATIONS/*RU.txt text working-tree-encoding=cp1251 encoding=utf-8,
_TVRADIO_TRANSLATIONS/*CH.txt text working-tree-encoding=utf-8 encoding=utf-8,
_TVRADIO_TRANSLATIONS/*PTBR.txt text working-tree-encoding=cp1252 encoding=utf-8,